.blogPostDetail {
  margin: 0 auto;
  padding: 30px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(43, 42, 42, 0.05);
  color: #8a7878;
}

.title{
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}
.author {
  font-size: 18px;
  color: #666666;
  margin: 10px 0;
}
.date {
  font-size: 16px;
  color: #999999;
  margin: 10px 0;
}
.content {
  font-size: 18px;
  color: #333333;
  line-height: 1.6;
  margin: 20px 0;
}
a:link {
  color: #007BFF;
  text-decoration: underline;
}
a:hover {
  color: #0056b3; 
}

@media screen and (max-width: 768px) {
  .blogPostDetail {
    padding: 20px;
  }
  title h1 {
    font-size: 28px;
  }
  .author {
    font-size: 14px;
  }
  .date {
    font-size: 12px;
  }
  .content {
    font-size: 14px;
    line-height: 1.4;
  }
    
}